[package]
publish = false
name = "v_htmlescape-bench"
version = "0.0.1"
authors = ["Rust-iendo Barcelona <riendocontributions@gmail.com>"]
description = "Criterion benchmark suite for v_htmlescape."
homepage = "https://github.com/rust-iendo/v_htmlescape"
repository = "https://github.com/rust-iendo/v_htmlescape"
license = "MIT/Apache-2.0"
workspace = '..'
edition = "2018"

[lib]
bench = false

[[bench]]
name = "v_htmlescape"
harness = false
path = "src/all.rs"
[features]
default = []
with-askama = ["askama_escape"]
with-rocket = ["rocket"]

[dependencies]
cfg-if = "0.1"
criterion = "0.2"
v_htmlescape = { version = "*", path = "../v_htmlescape" }
rocket = { version = "0.4", optional = true }
askama_escape = {version = "0.1", optional = true }

[build-dependencies]
version_check = "0.1"
